@charset "utf-8";
::selection {
	background-color: yellow;
}
body {
	background: black;
}
header {
	display: flex;
	justify-content: space-between;
	align-items: flex-end;
	top: 0;
	height: 7vh;
	width: 100%;
	position: fixed;
	font-family: 'Roboto', sans-serif;
	z-index: 10;
}
header h2 {
	margin: 0;
	margin-left: 5px;
	height: 30px;
	font-size: 15px;
	font-family: 'Roboto', sans-serif;
	font-weight: bold;
	color: white;
}
header a {
	font-size: 15px;
}
.container {
	top: 10vh;
	padding-left: 160px;
	position: absolute;
	display: flex;
	padding-bottom: 40vh;
}
.textCol {
	height: 100%;
	width: 300px;
	flex-shrink: 0;
	font-family: sans-serif;
	font-weight: 400;
	font-style: normal;
	font-size: 17px;
	color: white;
}
.textCol1 {
	height: 100%;
	width: 300px;
	flex-shrink: 0;
	padding-left: 17px;
	font-family: 'roboto';
	font-weight: 400;
	font-size: 17px;
	color: white;
}
.textCol2 {
	height: 100%;
	width: 230px;
	flex-shrink: 0;
	padding-left: 20px;
	padding-right: 20px;
	font-size: 17px;
	font-family: 'roboto';
	font-weight: 400;
	color: white;
}
body:not(.mobile) .hover-title:hover + .hover-image {
	visibility: visible;
	pointer-events: none;
}
.hover-image {
	display: flex;
	position: absolute;
	z-index: 1;
	pointer-events: none;
	flex-direction: column;
	/* Change width and height to scale images */
	width: auto;
	height: 30vh;
}
.hover-image img {
	max-width: 100%;
	max-height: 100%;
	width: auto;
	height: auto;
	margin-bottom: 0;
}
.special-colour {
	font-size: 15px;
	font-family: 'roboto';
	font-weight: 400;
	position: relative;
	color: yellow;
	background: black;
}
.special-colour div {
	display: none;
	position: absolute;
	bottom: 60vh;
	top: 70%;
	font-size: 12px;
	font-weight: 200;
	top: 3vw;
	color: black;
}
img {
	display: block;
	max-width: 100%;
	max-width: 400px;
	max-height: 500px;
	width: auto;
	height: auto;
}
input {
	max-width: 100%;
	max-width: 400px;
	max-height: 500px;
	width: auto;
	height: auto;
	margin: 0 auto;
}
/**/
.toggle {
	display: inline-block;
}
.toggle input {
	visibility: hidden;
}
.toggle input:checked ~ .hidden {
	visibility: visible;
}
.toggle .hidden {
	visibility: collapse;
}
/**/
.texto {
	font-size: 14px;
}
/**/
.tooltip {
	position: relative;
	display: inline-block;
	border-bottom: 0px dotted black;
}
.tooltip .tooltiptext {
	visibility: hidden;
	width: 120px;
	background-color: yellow;
	color: black;
	text-align: left;
	/*  border-radius: 6px;*/
	padding: 5px 0;
	font-size: 10px;
	/* Position the tooltip */
	position: absolute;
	z-index: 1;
}
.tooltip:hover .tooltiptext {
	visibility: visible;
}
/**/
.pdf {
	color: white;
}
/**/


.text_ {
	text-align: right;
	color: white;
	font-size: 10px;
}
.gif {
	max-width: 200px;
	max-height: 150px;
	width: auto;
	height: auto;
}
